GameDevPatterns_clone_0
GameDevPatterns/.vs
GameDevPatterns/Packages
GameDevPatterns/Unity.WebRTC.Samples.Editror.csproj
GameDevPatterns/Unity.WebRTC.Samples.csproj
GameDevPatterns/ParrelSync.csproj
GameDevPatterns/GameDevPatterns.sln
GameDevPatterns/Assembly-CSharp.csproj
GameDevPatterns/.vsconfig
GameDevPatterns/UserSettings/Search.settings
GameDevPatterns/UserSettings/Search.index
GameDevPatterns/UserSettings/EditorUserSettings.asset
GameDevPatterns/UserSettings
GameDevPatterns/Test/GameDevPatterns.exe
GameDevPatterns/Test/UnityCrashHandler64.exe
GameDevPatterns/Test/UnityPlayer.dll
GameDevPatterns/Test/MonoBleedingEdge
GameDevPatterns/Test
GameDevPatterns/Temp
GameDevPatterns/obj
GameDevPatterns/Logs
GameDevPatterns/Library
